img {
    width: 100px;
}

.table {
    width: 800px;
    z-index: 1;
    margin: 50px;
    border: black 3px solid;
    box-shadow: 4px 4px 8px #000000;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(90deg, #34deeb 0%, #FFCE5C 35%, #FF5E5B 100%);
    justify-content: space-around;
}

#btns-dice {
    /* border: 2px solid red; */
    width: 600px;
    padding-top: 50px;
}

#score-card {
    /* border: 2px solid red; */
    max-width: 900px;
}

#content {
    margin-top: 100px;
    /* position: fixed; */
}

img {
    margin-left: 10px;
    margin-right: 10px;
}

#btn-title {
    /* border: 2px solid red; */
    padding-left: 140px;
}

#buttons {
    padding-left: 20px;
}

#secondary-buttons {
    /* border: 2px solid red; */
    padding-left: 190px;
    padding-top: 300px;
}

h1 {
    font-weight: 700;
}

h3 {
    color: #11122e;
}

li {
    color: #11122e;
}